# Generate a real password file before running Mosquitto:
#
#   docker run --rm -it -v ${PWD}/mosquitto/config:/config eclipse-mosquitto:2 \
#     mosquitto_passwd -c /config/passwords clock_ha_orchestrator
#   docker run --rm -it -v ${PWD}/mosquitto/config:/config eclipse-mosquitto:2 \
#     mosquitto_passwd /config/passwords home_assistant
#   docker run --rm -it -v ${PWD}/mosquitto/config:/config eclipse-mosquitto:2 \
#     mosquitto_passwd /config/passwords future_adapter
#
# Do not commit the generated passwords file.
